In [1]:
import pandas as pd
pd.__version__

'1.1.3'

In [2]:
import glob
path = r'C:\Users\owynd\bip-python-unh\sales_analysis\data' # use your path
all_files = glob.glob(path + "/*.csv")

li = []
for filename in all_files:
    df = pd.read_csv(filename, index_col=None, header=0)
    li.append(df)

frame = pd.concat(li, axis=0, ignore_index=True)

In [3]:
print (frame)

      contract_id  customer_id contract_start  contract_term     deposit  \
0             1.0        127.0      8/17/2019           12.0  $53,000.00
1             2.0        119.0      12/1/2019           22.0  $77,000.00
2             3.0        160.0       5/1/2019           15.0  $13,000.00
3             4.0          7.0      12/8/2019           23.0  $56,000.00
4             5.0        144.0      2/11/2019            7.0  $21,000.00
...           ...          ...            ...            ...         ...
1245          NaN          NaN            NaN            NaN         NaN
1246          NaN          NaN            NaN            NaN         NaN
1247          NaN          NaN            NaN            NaN         NaN
1248          NaN          NaN            NaN            NaN         NaN
1249          NaN          NaN            NaN            NaN         NaN

     monthly_amt     id      company            sector  \
0     $11,600.00    NaN          NaN               NaN
1     $14,600.00    NaN          NaN               NaN
2     $22,800.00    NaN          NaN               NaN
3     $11,400.00    NaN          NaN               NaN
4     $19,800.00    NaN          NaN               NaN
...          ...    ...          ...               ...
1245         NaN  246.0     Livefish            Energy
1246         NaN  247.0         Katz               NaN
1247         NaN  248.0        Yombu  Public Utilities
1248         NaN  249.0      Dynazzy               NaN
1249         NaN  250.0  Twitterwire        Technology

                         industry                      email  \
0                             NaN                        NaN
1                             NaN                        NaN
2                             NaN                        NaN
3                             NaN                        NaN
4                             NaN                        NaN
...                           ...                        ...
1245  Oilfield Services/Equipment      gcressy6t@twitter.com
1246                          NaN        siacobini6u@fc2.com
1247     Natural Gas Distribution        ccandy6v@tumblr.com
1248                          NaN   lmothersole6w@nsw.gov.au
1249               Semiconductors  haseef6x@miitbeian.gov.cn

                    address            city state      zip
0                       NaN             NaN   NaN      NaN
1                       NaN             NaN   NaN      NaN
2                       NaN             NaN   NaN      NaN
3                       NaN             NaN   NaN      NaN
4                       NaN             NaN   NaN      NaN
...                     ...             ...   ...      ...
1245   05019 Eastwood Alley     Brooksville    FL  34605.0
1246  6567 Old Shore Center           Omaha    NE  68134.0
1247     6442 Vahlen Avenue  Salt Lake City    UT  84125.0
1248      15 Oakridge Court   New York City    NY  10060.0
1249        8190 Rusk Point         Seattle    WA  98166.0

[1250 rows x 15 columns]

In [4]:
money = frame.groupby('deposit', as_index=False)
print(money)

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x000001934A9D4910>