In [1]:
import pandas as pd
pd.__version__

'1.1.3'

In [2]:
import glob
path = r'C:\Users\owynd\bip-python-unh\sales_analysis\data' # use your path
all_files = glob.glob(path + "/*.csv")

li = []
for filename in all_files:
    df = pd.read_csv(filename, index_col=None, header=0)
    li.append(df)

frame = pd.concat(li, axis=0, ignore_index=True)

In [3]:
print (frame)

      contract_id  customer_id contract_start  contract_term     deposit  \
0             1.0        127.0      8/17/2019           12.0  $53,000.00
1             2.0        119.0      12/1/2019           22.0  $77,000.00
2             3.0        160.0       5/1/2019           15.0  $13,000.00
3             4.0          7.0      12/8/2019           23.0  $56,000.00
4             5.0        144.0      2/11/2019            7.0  $21,000.00
...           ...          ...            ...            ...         ...
1245          NaN          NaN            NaN            NaN         NaN
1246          NaN          NaN            NaN            NaN         NaN
1247          NaN          NaN            NaN            NaN         NaN
1248          NaN          NaN            NaN            NaN         NaN
1249          NaN          NaN            NaN            NaN         NaN

     monthly_amt     id      company            sector  \
0     $11,600.00    NaN          NaN               NaN
1     $14,600.00    NaN          NaN               NaN
2     $22,800.00    NaN          NaN               NaN
3     $11,400.00    NaN          NaN               NaN
4     $19,800.00    NaN          NaN               NaN
...          ...    ...          ...               ...
1245         NaN  246.0     Livefish            Energy
1246         NaN  247.0         Katz               NaN
1247         NaN  248.0        Yombu  Public Utilities
1248         NaN  249.0      Dynazzy               NaN
1249         NaN  250.0  Twitterwire        Technology

                         industry                      email  \
0                             NaN                        NaN
1                             NaN                        NaN
2                             NaN                        NaN
3                             NaN                        NaN
4                             NaN                        NaN
...                           ...                        ...
1245  Oilfield Services/Equipment      gcressy6t@twitter.com
1246                          NaN        siacobini6u@fc2.com
1247     Natural Gas Distribution        ccandy6v@tumblr.com
1248                          NaN   lmothersole6w@nsw.gov.au
1249               Semiconductors  haseef6x@miitbeian.gov.cn

                    address            city state      zip
0                       NaN             NaN   NaN      NaN
1                       NaN             NaN   NaN      NaN
2                       NaN             NaN   NaN      NaN
3                       NaN             NaN   NaN      NaN
4                       NaN             NaN   NaN      NaN
...                     ...             ...   ...      ...
1245   05019 Eastwood Alley     Brooksville    FL  34605.0
1246  6567 Old Shore Center           Omaha    NE  68134.0
1247     6442 Vahlen Avenue  Salt Lake City    UT  84125.0
1248      15 Oakridge Court   New York City    NY  10060.0
1249        8190 Rusk Point         Seattle    WA  98166.0

[1250 rows x 15 columns]

In [4]:
money = frame.groupby('deposit', as_index=False)
print(money)

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x000002DE096B5A00>

In [5]:
df_customers = pd.read_csv('../data/customers.csv')
df_customers.head()

,id,company,sector,industry,email,address,city,state,zip
0,1,Bubblebox,Capital Goods,Military/Government/Technical,kyerson0@bizjournals.com,76 Randy Circle,San Diego,CA,92170
1,2,Izio,Energy,Oil & Gas Production,farlet1@comcast.net,15360 Village Green Street,Spokane,WA,99252
2,3,Twitterworks,NaN,NaN,alerohan2@ox.ac.uk,29 Hovde Hill,Milwaukee,WI,53234
3,4,Viva,Health Care,Major Pharmaceuticals,wgiovanitti3@nytimes.com,074 Center Place,Topeka,KS,66667
4,5,Jabberstorm,Technology,Computer Software: Prepackaged Software,pscallon4@fc2.com,4 Moose Way,Terre Haute,IN,47805

In [6]:
df_customers.rename(columns={'id' : 'customer_id'}, inplace=True)
df_customers.head()

,customer_id,company,sector,industry,email,address,city,state,zip
0,1,Bubblebox,Capital Goods,Military/Government/Technical,kyerson0@bizjournals.com,76 Randy Circle,San Diego,CA,92170
1,2,Izio,Energy,Oil & Gas Production,farlet1@comcast.net,15360 Village Green Street,Spokane,WA,99252
2,3,Twitterworks,NaN,NaN,alerohan2@ox.ac.uk,29 Hovde Hill,Milwaukee,WI,53234
3,4,Viva,Health Care,Major Pharmaceuticals,wgiovanitti3@nytimes.com,074 Center Place,Topeka,KS,66667
4,5,Jabberstorm,Technology,Computer Software: Prepackaged Software,pscallon4@fc2.com,4 Moose Way,Terre Haute,IN,47805

In [7]:
df_contracts = pd.read_csv('../data/contracts.csv')
df_contracts.head()

,contract_id,customer_id,contract_start,contract_term,deposit,monthly_amt
0,1,127,8/17/2019,12,"$53,000.00","$11,600.00"
1,2,119,12/1/2019,22,"$77,000.00","$14,600.00"
2,3,160,5/1/2019,15,"$13,000.00","$22,800.00"
3,4,7,12/8/2019,23,"$56,000.00","$11,400.00"
4,5,144,2/11/2019,7,"$21,000.00","$19,800.00"

In [8]:
prices=[]
counter = 0 
for item in df_contracts ['deposit']:
    price=item[1:].replace(",","")
    item=float(price)

    df_contracts.at[counter, "Unit_Price"]= item
    counter +=1
print(df_contracts)

     contract_id  customer_id contract_start  contract_term     deposit  \
0              1          127      8/17/2019             12  $53,000.00
1              2          119      12/1/2019             22  $77,000.00
2              3          160       5/1/2019             15  $13,000.00
3              4            7      12/8/2019             23  $56,000.00
4              5          144      2/11/2019              7  $21,000.00
..           ...          ...            ...            ...         ...
995          996           57      11/8/2019             15  $38,000.00
996          997          126      1/13/2019             20  $28,000.00
997          998           89       5/8/2019              7  $73,000.00
998          999           52      3/26/2019              7  $63,000.00
999         1000            3      3/19/2019             16  $23,000.00

    monthly_amt  Unit_Price
0    $11,600.00     53000.0
1    $14,600.00     77000.0
2    $22,800.00     13000.0
3    $11,400.00     56000.0
4    $19,800.00     21000.0
..          ...         ...
995   $5,300.00     38000.0
996  $16,000.00     28000.0
997  $18,400.00     73000.0
998  $21,600.00     63000.0
999  $15,700.00     23000.0

[1000 rows x 7 columns]

In [9]:
df_customers.set_index('customer_id', inplace=True)
df_contracts.set_index('customer_id', inplace=True)
df_contracts.head()

,contract_id,contract_start,contract_term,deposit,monthly_amt,Unit_Price
customer_id,,,,,,
127,1,8/17/2019,12,"$53,000.00","$11,600.00",53000.0
119,2,12/1/2019,22,"$77,000.00","$14,600.00",77000.0
160,3,5/1/2019,15,"$13,000.00","$22,800.00",13000.0
7,4,12/8/2019,23,"$56,000.00","$11,400.00",56000.0
144,5,2/11/2019,7,"$21,000.00","$19,800.00",21000.0

In [10]:
df.nunique(axis = 0, dropna = True)

id          250
company     186
sector       12
industry     70
email       250
address     250
city        139
state        44
zip         231
dtype: int64

In [11]:
customers = pd.read_csv ('../data/customers.csv')
contracts = pd.read_csv ('../data/contracts.csv')
joined_data = customers.join(contracts)
joined_data

,id,company,sector,industry,email,address,city,state,zip,contract_id,customer_id,contract_start,contract_term,deposit,monthly_amt
0,1,Bubblebox,Capital Goods,Military/Government/Technical,kyerson0@bizjournals.com,76 Randy Circle,San Diego,CA,92170,1,127,8/17/2019,12,"$53,000.00","$11,600.00"
1,2,Izio,Energy,Oil & Gas Production,farlet1@comcast.net,15360 Village Green Street,Spokane,WA,99252,2,119,12/1/2019,22,"$77,000.00","$14,600.00"
2,3,Twitterworks,NaN,NaN,alerohan2@ox.ac.uk,29 Hovde Hill,Milwaukee,WI,53234,3,160,5/1/2019,15,"$13,000.00","$22,800.00"
3,4,Viva,Health Care,Major Pharmaceuticals,wgiovanitti3@nytimes.com,074 Center Place,Topeka,KS,66667,4,7,12/8/2019,23,"$56,000.00","$11,400.00"
4,5,Jabberstorm,Technology,Computer Software: Prepackaged Software,pscallon4@fc2.com,4 Moose Way,Terre Haute,IN,47805,5,144,2/11/2019,7,"$21,000.00","$19,800.00"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
245,246,Livefish,Energy,Oilfield Services/Equipment,gcressy6t@twitter.com,05019 Eastwood Alley,Brooksville,FL,34605,246,70,9/24/2019,3,"$57,000.00","$14,400.00"
246,247,Katz,NaN,NaN,siacobini6u@fc2.com,6567 Old Shore Center,Omaha,NE,68134,247,168,1/5/2019,20,"$77,000.00","$12,900.00"
247,248,Yombu,Public Utilities,Natural Gas Distribution,ccandy6v@tumblr.com,6442 Vahlen Avenue,Salt Lake City,UT,84125,248,128,3/17/2019,1,"$19,000.00","$6,300.00"
248,249,Dynazzy,NaN,NaN,lmothersole6w@nsw.gov.au,15 Oakridge Court,New York City,NY,10060,249,77,4/22/2019,9,"$90,000.00","$9,400.00"
249,250,Twitterwire,Technology,Semiconductors,haseef6x@miitbeian.gov.cn,8190 Rusk Point,Seattle,WA,98166,250,66,1/31/2019,14,"$68,000.00","$13,600.00"

In [12]:
joined_data["monthly_amt"] = joined_data["monthly_amt"].replace('[\$\,\.]',"",regex=True).astype(int)
joined_data["deposit"] = joined_data["deposit"].replace('[\$\,\.]',"",regex=True).astype(int)
joined_data['contract_term'] = joined_data['contract_term'].astype(int)
joined_data

,id,company,sector,industry,email,address,city,state,zip,contract_id,customer_id,contract_start,contract_term,deposit,monthly_amt
0,1,Bubblebox,Capital Goods,Military/Government/Technical,kyerson0@bizjournals.com,76 Randy Circle,San Diego,CA,92170,1,127,8/17/2019,12,5300000,1160000
1,2,Izio,Energy,Oil & Gas Production,farlet1@comcast.net,15360 Village Green Street,Spokane,WA,99252,2,119,12/1/2019,22,7700000,1460000
2,3,Twitterworks,NaN,NaN,alerohan2@ox.ac.uk,29 Hovde Hill,Milwaukee,WI,53234,3,160,5/1/2019,15,1300000,2280000
3,4,Viva,Health Care,Major Pharmaceuticals,wgiovanitti3@nytimes.com,074 Center Place,Topeka,KS,66667,4,7,12/8/2019,23,5600000,1140000
4,5,Jabberstorm,Technology,Computer Software: Prepackaged Software,pscallon4@fc2.com,4 Moose Way,Terre Haute,IN,47805,5,144,2/11/2019,7,2100000,1980000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
245,246,Livefish,Energy,Oilfield Services/Equipment,gcressy6t@twitter.com,05019 Eastwood Alley,Brooksville,FL,34605,246,70,9/24/2019,3,5700000,1440000
246,247,Katz,NaN,NaN,siacobini6u@fc2.com,6567 Old Shore Center,Omaha,NE,68134,247,168,1/5/2019,20,7700000,1290000
247,248,Yombu,Public Utilities,Natural Gas Distribution,ccandy6v@tumblr.com,6442 Vahlen Avenue,Salt Lake City,UT,84125,248,128,3/17/2019,1,1900000,630000
248,249,Dynazzy,NaN,NaN,lmothersole6w@nsw.gov.au,15 Oakridge Court,New York City,NY,10060,249,77,4/22/2019,9,9000000,940000
249,250,Twitterwire,Technology,Semiconductors,haseef6x@miitbeian.gov.cn,8190 Rusk Point,Seattle,WA,98166,250,66,1/31/2019,14,6800000,1360000

In [13]:

joined_data.groupby(['state'])

In [14]:
joined_data

,id,company,sector,industry,email,address,city,state,zip,contract_id,customer_id,contract_start,contract_term,deposit,monthly_amt
0,1,Bubblebox,Capital Goods,Military/Government/Technical,kyerson0@bizjournals.com,76 Randy Circle,San Diego,CA,92170,1,127,8/17/2019,12,5300000,1160000
1,2,Izio,Energy,Oil & Gas Production,farlet1@comcast.net,15360 Village Green Street,Spokane,WA,99252,2,119,12/1/2019,22,7700000,1460000
2,3,Twitterworks,NaN,NaN,alerohan2@ox.ac.uk,29 Hovde Hill,Milwaukee,WI,53234,3,160,5/1/2019,15,1300000,2280000
3,4,Viva,Health Care,Major Pharmaceuticals,wgiovanitti3@nytimes.com,074 Center Place,Topeka,KS,66667,4,7,12/8/2019,23,5600000,1140000
4,5,Jabberstorm,Technology,Computer Software: Prepackaged Software,pscallon4@fc2.com,4 Moose Way,Terre Haute,IN,47805,5,144,2/11/2019,7,2100000,1980000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
245,246,Livefish,Energy,Oilfield Services/Equipment,gcressy6t@twitter.com,05019 Eastwood Alley,Brooksville,FL,34605,246,70,9/24/2019,3,5700000,1440000
246,247,Katz,NaN,NaN,siacobini6u@fc2.com,6567 Old Shore Center,Omaha,NE,68134,247,168,1/5/2019,20,7700000,1290000
247,248,Yombu,Public Utilities,Natural Gas Distribution,ccandy6v@tumblr.com,6442 Vahlen Avenue,Salt Lake City,UT,84125,248,128,3/17/2019,1,1900000,630000
248,249,Dynazzy,NaN,NaN,lmothersole6w@nsw.gov.au,15 Oakridge Court,New York City,NY,10060,249,77,4/22/2019,9,9000000,940000
249,250,Twitterwire,Technology,Semiconductors,haseef6x@miitbeian.gov.cn,8190 Rusk Point,Seattle,WA,98166,250,66,1/31/2019,14,6800000,1360000

In [15]:

monthly_revenue = joined_data['contract_term']*joined_data['monthly_amt']

In [18]:
joined_data['total_revenue'] = monthly_revenue
joined_data

,id,company,sector,industry,email,address,city,state,zip,contract_id,customer_id,contract_start,contract_term,deposit,monthly_amt,total_sales,total_revenue
0,1,Bubblebox,Capital Goods,Military/Government/Technical,kyerson0@bizjournals.com,76 Randy Circle,San Diego,CA,92170,1,127,8/17/2019,12,5300000,1160000,13920000,13920000
1,2,Izio,Energy,Oil & Gas Production,farlet1@comcast.net,15360 Village Green Street,Spokane,WA,99252,2,119,12/1/2019,22,7700000,1460000,32120000,32120000
2,3,Twitterworks,NaN,NaN,alerohan2@ox.ac.uk,29 Hovde Hill,Milwaukee,WI,53234,3,160,5/1/2019,15,1300000,2280000,34200000,34200000
3,4,Viva,Health Care,Major Pharmaceuticals,wgiovanitti3@nytimes.com,074 Center Place,Topeka,KS,66667,4,7,12/8/2019,23,5600000,1140000,26220000,26220000
4,5,Jabberstorm,Technology,Computer Software: Prepackaged Software,pscallon4@fc2.com,4 Moose Way,Terre Haute,IN,47805,5,144,2/11/2019,7,2100000,1980000,13860000,13860000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
245,246,Livefish,Energy,Oilfield Services/Equipment,gcressy6t@twitter.com,05019 Eastwood Alley,Brooksville,FL,34605,246,70,9/24/2019,3,5700000,1440000,4320000,4320000
246,247,Katz,NaN,NaN,siacobini6u@fc2.com,6567 Old Shore Center,Omaha,NE,68134,247,168,1/5/2019,20,7700000,1290000,25800000,25800000
247,248,Yombu,Public Utilities,Natural Gas Distribution,ccandy6v@tumblr.com,6442 Vahlen Avenue,Salt Lake City,UT,84125,248,128,3/17/2019,1,1900000,630000,630000,630000
248,249,Dynazzy,NaN,NaN,lmothersole6w@nsw.gov.au,15 Oakridge Court,New York City,NY,10060,249,77,4/22/2019,9,9000000,940000,8460000,8460000
249,250,Twitterwire,Technology,Semiconductors,haseef6x@miitbeian.gov.cn,8190 Rusk Point,Seattle,WA,98166,250,66,1/31/2019,14,6800000,1360000,19040000,19040000

In [20]:
sorted_by_state = joined_data.groupby(['state']).sum(['total_revenue'])
print (sorted_by_state['total_revenue'])

state
AK     44910000
AL     28670000
AR     35200000
AZ     83620000
CA    458580000
CO    127990000
CT     90700000
DC    109800000
DE     50410000
FL    297580000
GA     35570000
HI     18720000
IA     30720000
ID     60800000
IL     79790000
IN     39330000
KS    157730000
KY      2130000
LA    171690000
MA     23000000
MD    120120000
ME     26180000
MI     97680000
MN     22280000
MO    102700000
MS     33600000
NC     54910000
NE    103550000
NJ       600000
NM     10000000
NV     20370000
NY    281760000
OH    219510000
OK    155280000
OR     80880000
PA    197430000
SC      2310000
TN     83830000
TX    437050000
UT       630000
VA    189250000
WA    285930000
WI    104780000
WV     10200000
Name: total_revenue, dtype: int32

In [ ]:
# California comes in with the most revenue by state.

In [21]:
customers_by_state = joined_data.groupby(['state']).count(['company'])
print (customers_by_state['company'])

TypeError: count() takes 1 positional argument but 2 were given